#map {
    width: 560px;
    height: 400px;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.rating > span:hover,
.rating > span:hover ~ span {
    color: transparent;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: gold;
}

#type_check{
    color:red;
}

#rate_check{
    color:red;
}

#upload_ok{
    color:green;
}
.selectRow_odd :nth-of-type(odd){
    background:#aaa;
}
.selectRow :nth-of-type(even){
    background:#aaa;
}

#table_height{
    max-height: 250px;
    overflow-y:scroll; 
}

